{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}

{{ event.title }}<br><br>
{{ event.description }}<br><br><br>

    <a href="{{ path('index') }}">Retour accueil</a>
{% endblock %}
