{% extends 'baseAdmin.html.twig' %}


{% block body %}
    <h1>Les événements qui ont été refusé</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for event in events %}

            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.date | date('d.m.Y') }}</td>
                <td>{{ event.organiser.name }}</td>
                <td class="action">
                    <a href="{{ path('admin.event.view', {id:event.id}) }}">
                        voir
                    </a>

                </td>
            </tr>

        {% endfor %}
        </tbody>

    </table>
{% endblock %}