@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    margin: 0;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: black;
}

i {
    margin-right: 8px;
}

.mg-top-0 {
    margin-top: 0
}

.mg-top-40 {
    margin-top: 40px;
}

.mg-bot-26 {
    margin-bottom: 26px;
}

.mg-bot-40 {
    margin-bottom: 40px;
}

.mg-bot-80 {
    margin-bottom: 80px;
}

.txt-center {
    text-align: center;
}

/*BUTTON*/
.button1 {
    padding: 10px 20px;
    background-color: #FFBB00;
    color: white;
    border-radius: 25px;
    border: 1px solid #FFBB00;
    transition: 0.3s all;
}

.button1:hover {
    background-color: white;
    color: #FFBB00;
}

.button2 {
    transition: 0.3s all;
}

.button2:hover {
    color: #FFBB00;
}

/* MESSAGE ALERT*/
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 300px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.hidden {
    display: none;
    transition: height 0.5s ease-out;
    overflow: hidden;
}

/*HOMEPAGE*/
.homepage {
    margin: 50px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage img {
    max-width: 400px;
    margin-top: 80px;
}


/*HEADER & NAVBAR*/
header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 40px;
}

nav {
    /*display: flex;*/
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}


/*EVENT HOMEPAGE*/
.event-grid {
    margin-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.event-grid-description {
    padding: 15px;
    width: 55%;
    word-wrap: break-word;
}

.event {
    margin-top: 100px;
}

.event-grid a {
    display: flex;
    justify-content: space-between;
}

.event-grid-image {
    width: 40%;
    display: flex;
}

.event-grid img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.event-grid-title {
    font-weight: 700;
}

/*ONE HOMEPAGE*/
.event img {
    width: 300px;
}

/*LOGIN*/
.form-login {
    width: 400px;
    margin: 100px auto 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control input {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 28px;
}

.form-control select {
    display: inline-block;
    width: 100%;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 28px;
    height: calc(2.875rem + 2px);
    font-size: 115%;
}

.form-control textarea {
    margin-bottom: 28px;
    height: 100px;
}


form .login-button {
    margin-top: 30px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

/*EVENT LIST BY USER*/
.event-by-user-right {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    font-weight: 600;
    border-bottom: 2px solid #dddcd7;

    flex-direction: column;
    align-items: center;
}

.event-by-user-left {
    text-align: center;
}

.event-by-user-datetime {
    color: darkgrey;
}

.event-by-user-title {
    font-weight: bold;
}

.event-by-user-description {
    display: none;
}

/* FOOTER*/
footer {
    margin-top: 200px;
    min-height: 150px;
    border-top: 2px solid #dddcd7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer i {
    font-size: 26px;
    transition: 0.3s all;
    margin-right: 10px;
}

footer i:hover {
    transform: scale(1.15)
}

.footer-section {
    width: 300px;
    text-align: center;
    margin: 20px 0;
}

footer p {
    font-weight: 700;
}

.footer-section-account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section-account a {
    margin-bottom: 10px;
}

@media all and (min-width: 600px) {
    footer {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }
}

@media all and (min-width: 800px) {


    .events-grid {
        display: flex;
        justify-content: space-between;
    }

    .event-grid a {
        display: flex;
        flex-direction: column-reverse;
    }

    .event-grid {
        width: 240px;
    }

    .event-grid:first-child {
        margin-left: 0;
    }

    .event-grid:last-child {
        margin-right: 0;
    }

    .event-grid-description {
        width: auto;
    }

    .event-grid-image {
        width: auto;
    }
}


@media all and (min-width: 1000px) {
    header {
        width: 900px;
        margin: 0 auto;
    }

    .homepage {
        flex-direction: row;
        width: 900px;
        margin: 50px auto 0 auto;
    }

    .homepage img {
        width: auto;
        margin-top: 0;
    }

    .homepage-content {
        padding-right: 25px;
    }

    .section-events-grid {
        width: 900px;
        margin: 100px auto 0 auto;
    }

    .event .event-content {
        display: flex;
        flex-direction: row-reverse;
    }

    .event {
        width: 900px;
        margin: 100px auto 0 auto;
        min-height: 50vh
    }

    .event-grid {
        width: 270px;
    }

    .event-content-left {
        width: 650px;
        padding-right: 20px;
    }

    .event-content-right {
        width: 350px;
        padding-left: 30px;
        background-color: #F6F7F8;
        height: min-content;
        border-radius: 5px;
    }

    .event-by-user-right {
        /*flex-direction: column;*/
        justify-content: start;
        border-bottom: none;
        align-items: start;
    }

    .event-by-user-left {
        text-align: left;
    }

    .event-by-user-left-content {
        display: flex;
        padding-right: 40px;
        transition: 0.1s all;
    }

    .event-by-user-left-content:hover {
        transform: scale(1.01);
        /*zoom: 1.1;*/
    }

    .event-by-user-left-content img {
        width: 140px;
        margin-right: 40px;
    }

    .event-by-user-left-content p {
        margin: 0;

    }

    .event-by-user-description {
        display: flex;
    }

    footer {
        width: 900px;
        margin: 140px auto 0 auto;
    }

}

@media all and (min-width: 1200px) {
    header, footer {
        width: 1000px;
    }

    .homepage, .section-events-grid {
        width: 1000px;
    }

    .event-grid {
        width: 300px;
    }

    .event {
        width: 1000px;
    }

    .event-content-left {
        width: 700px;
    }

    .event-content-right {
        width: 300px;
    }

}