{% extends 'base.html.twig' %}


{% block body %}
    <h1>Les événements</h1>
    <p><a href="{{ path('admin.event.new') }}">Ajouter</a></p>
    {% for event in events %}
        <p>
            {{ event.title }}
            <a href="{{ path('admin.event.edit', {id:event.id}) }}">Modifier</a>
            <a href="{{ path('admin.event.delete', {id:event.id}) }}">Supprimer</a>
        </p>
    {% endfor %}
{% endblock %}