{% extends 'base.html.twig' %}


{% block body %}
<h1>Les événements</h1>
    <a href="{{ path('app_login') }}">connexion</a>
    {% for event in events %}
        <p>
            {{ event.title }}
            <a href="{{ path('event', {id : event.id}) }}">Voir plus</a>
        </p>
    {% endfor %}
{% endblock %}