@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    display: flex;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}


aside {
    color: white;
    background: #272c33;
    height: 100vh;
    min-height: 100%;
    padding: 0 15px;
    width: 210px;
}

aside nav {
    margin-top: 100px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside li {
    margin-bottom: 20px;
}

aside a {
    color: #eee;
    padding: 0.5rem 1.5rem;
    font-size: 14px;
    text-decoration: none;
}


section {
    padding-left: 50px;
    margin-top: 50px;
}


section .table img {
    width: 24px;
    margin-right: 12px;
}

.action {
    display: flex;
    justify-content: end;
    width: auto;

}



@media all and (min-width: 1000px) {

    aside {
        width: 290px;
    }

    aside a {
        font-size: 18px;
    }

    section {
        width: 600px;
    }
}

@media all and (min-width: 1200px) {

}