{% extends 'base.html.twig' %}



{% block body %}
    <div class="section min-height">
        <h1 class="mg-bottom-20 font-s-2em">403 - Accès interdit</h1>
        <p class="mg-bottom-20">Oups ! Vous n'avez pas l'autorisation d'accéder à cette page.</p>
        <a class="blog-sources-link" href="{{ path('index') }}">Retour à l'accueil</a>
    </div>
{% endblock %}