{% extends 'base.html.twig' %}



{% block body %}
    <div class="section min-height">
        <h1 class="mg-bottom-20 font-s-2em">404 - Page non trouvée</h1>
        <p class="mg-bottom-20">Oups ! La page que vous cherchez n'existe pas.</p>
        <a class="blog-sources-link" href="{{ path('index') }}">Retour à l'accueil</a>
    </div>
{% endblock %}